<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>

<body>
    <div id="header">
        <h1>Welcome, {{user.name}}!</h1>
        <a href="/logout">Logout</a>

        <div id="container"></div>
        <!-- Quotable Quotes -->
        <p>Quotable Quotes:</p>
        <div id="quotes" style="overflow:scroll; height:300px;">
            {% for quote in quotable_quotes %}
            <div class="one_quote" style="border: 1px black solid; width: 350px">
                <p>{{quote.author}}:{{quote.content}}</p>
                <p>posted by:<a href="/users/{{quote.poster.id}}">{{quote.poster.name}}</a></p>
                <a href="/add_like/{{quote.id}}">Add to My List</a>
            </div>
            {% endfor %}
        </div>

        <!-- User's like Quotes -->
        <p>Your likes:</p>
        <div id="quotes" style="overflow:scroll; height:400px;">
            {% for like in likes %}
            <div class="one_quote" style="border: 1px black solid; width: 350px">
                <p>{{like.author}}:{{like.content}}</p>
                <p>posted by:<a href="/users/{{like.poster.id}}">{{like.poster.name}}</a></p>
                <a href="/remove_like/{{like.id}}">Remove from My List</a>
            </div>
            {% endfor %}
        </div>
        <!-- Quote validation messages  -->
        {% if messages %} {% for message in messages%} {% if 'add_item' in message.tags %}
        <p>{{message}}</p>
        {% endif %} {%endfor%} {% endif %} Contribute a Quote:
        <form action="/create" method="post">
            {% csrf_token %}
            <label>Quoted By:</label>
            <input id="commentbox" type="text" name="author">
            <label>Message:</label>
            <textarea name="content"></textarea>
            <input id="cmtbtn" type="submit" value="Submit">
        </form>
    </div>
</body>

</html>